.tasks-wrapper {
  height: 100%;
  margin: 0 5%;
  min-height: 555px;
}

.tasks-wrapper .tasks-table {
    margin: 100px 0;
}

table {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.mat-column-todo { 
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-modify {
    text-align: center;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
    padding-right: 0;
}

.mat-header-right {
    width: 126px;
}

.table-buttons {
    display: flex;
    padding: 10px 0;
}

.new-task-button {
    margin-left: auto;
    margin-right: 5px;
}

.task-is-done {
    position: relative;
}

.task-is-done:after {
    border-top: 0.15em solid #fff;
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    left: 0;
}