.tasks-wrapper {
  height: 100%;
  margin: 0 5%;
  min-height: 555px;
}

.tasks-wrapper .tasks-table {
    margin: 100px 0;
}

table {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.mat-column-todo { 
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-date {
    width: 128px;
    text-align: right;
}

.mat-column-modify {
    width: 100px;
    text-align: right;
}

.table-buttons {
    display: flex;
    padding: 10px 0;
}

.new-task-button {
    margin-left: auto;
    margin-right: 5px;
}
